.about {
  padding: 100px 0;
}

.about__inner {
  max-width: 768px;
  display: flex;
  gap: clamp(2rem, 5vw, 130px);
  margin: 0 auto;
}

.about__title {
  font-size: var(--font-size-xl);
  color: var(--color-text-secondary);
}

.about__content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.about__text {
  max-width: 502px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: var(--font-size-md);
  color: var(--color-text-secondary);
}

@media screen and (max-width: 767px) {
  .about {
    padding-block: 60px;
  }

  .about__inner {
    flex-direction: column;
    padding-left: 1rem;
  }

  .about__text {
    max-width: 100%;
  }
}
