.btn {
  background: var(--color-black);
  border-radius: var(--radius-lg);
  padding: 11px 20px;
  color: var(--color-white);
  font-size: var(--font-size-md);
}

.btn--transparent {
  display: block;
  background-color: transparent;
  color: var(--color-text-primary);
}
