.footer {
  padding-block: 60px;
}

.footer__content {
  display: flex;
}

.footer__left {
  margin-right: auto;
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
}

.footer__logo:focus-visible {
  outline: 2px solid var(--color-brown);
  outline-offset: 3px;
}

.footer__text {
  font-size: var(--font-size-sm);
  color: var(--color-text-accent);
  line-height: 1.2;
}

.footer__link {
  transition: color 0.3s;
}

.footer__link:focus-visible {
  outline: 1px solid var(--color-brown);
  outline-offset: 1px;
}

.footer__link:hover {
  color: var(--color-text-primary);
}

.footer__socials {
  align-self: end;
}
