.header {
  padding: 22px 0;
  min-height: 90px;
}

.header__content {
  display: flex;
  align-items: center;
}

.header__menu {
  margin-right: 31px;
}

.header__logo {
  margin-right: auto;
}

.header__logo:focus-visible {
  outline: 2px solid var(--color-brown);
  outline-offset: 3px;
}
