.hero {
  background-color: var(--color-beige);
}

.hero__inner {
  display: flex;
}

.hero__left {
  max-width: 50%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.hero__content {
  max-width: 720px;
  padding-top: clamp(2rem, 5vh, 100px);
  padding-right: clamp(2rem, 5vh, 100px);
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hero__subtitle {
  display: block;
  margin-bottom: 20px;
  font-size: var(--font-size-sm);
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--color-text-accent);
}

.hero__title {
  font-size: clamp(32px, 64px, 64px);
  line-height: 1.1;
  margin-bottom: 18px;
  font-weight: 400;
}

.hero__descr {
  margin-bottom: 30px;
  font-size: var(--font-size-md);
  color: var(--color-text-secondary);
}

.hero__media {
  max-width: 50%;
  position: relative;
  overflow: hidden;
}

.hero__media img {
  height: 100%;
  object-fit: cover;
  object-position: right center;
}

@media screen and (max-width: 1024px) {
  .hero__title {
    font-size: 48px;
  }

  .hero__descr {
    font-size: var(--font-size-sm);
  }
}

@media screen and (max-width: 767px) {
  .hero__inner {
    flex-direction: column;
    align-items: stretch;
  }

  .hero__left {
    max-width: 100%;
    justify-content: center;
  }

  .hero__content {
    max-width: 100%;
    padding-bottom: 16px;
  }

  .hero__media {
    display: flex;
    justify-content: center;
    max-width: 100%;
  }
}
