.team {
  padding-block: 100px;
}

.team__content {
  display: flex;
  gap: 16px;
}

.team__left {
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: flex-start;
}

.team__title {
  font-size: var(--font-size-xl);
  color: var(--color-text-secondary);
}

.team__descr {
  max-width: 358px;
  margin-bottom: 30px;
  font-size: 15px;
  color: var(--color-text-accent);
}

.team__list {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 36px 114px;
}
