/* 1. Settings */
@import "settings/variables.css";
@import "settings/fonts.css";

/* 2. Generic */
@import "generic/normalize.css";

/* 3. Base */
@import "base/base.css";

/* 4. Objects */
@import "objects/container.css";
@import "objects/grid.css";

/* 5. Components */
@import "components/header.css";
@import "components/menu.css";
@import "components/hero.css";
@import "components/about.css";
@import "components/design.css";
@import "components/process.css";
@import "components/clients.css";
@import "components/projects.css";
@import "components/team.css";
@import "components/get-in.css";
@import "components/footer.css";

/* 6. Utilities */
@import "utilities/visually-hidden.css";
